<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
<ion-list>
  <ion-card>

    <ion-card-header>
      <ion-card-subtitle>Registro</ion-card-subtitle>
      <ion-card-title>Datos Personales</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-label position="top-center" >Porfavor ingrese sus datos</ion-label>

      <form [formGroup]="formularioRegistro"> <!--LLAMADA DEL ARCHIVO LOGIN.PAGE.TS FORMULARIO GENERADO-->

        <ion-item>
          <ion-label position="floating" >Nombre</ion-label> <!--Dato numero 1 NOMBRE-->
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" >Appelido</ion-label> <!--Dato numero 2 APELLIDO-->
          <ion-input formControlName="apellido"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" >Correo electronico</ion-label> <!--Dato numero 3 CORREO-->
          <ion-input formControlName="correo"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" >Contraseña</ion-label> <!--Dato numero 4 CONTRASEÑA-->
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" >Confirma contraseña</ion-label> <!--Dato numero 5 CONFIRMAR CONTRASEÑA -->
          <ion-input formControlName="confirmPassword" type="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" >Seccion</ion-label> <!--Dato numero 6 SECCION-->
          <ion-input formControlName="seccion"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" >Carrera actual</ion-label> <!--Dato numero 7 CARRERRA-->
          <ion-select formControlName="carrera">
            <ion-select-option value="brown">Analista Programador</ion-select-option>
            <ion-select-option value="red">Ing. en Informatica</ion-select-option>
            <ion-select-option value="brown">Tecnico en Enfermeria Superior</ion-select-option>
            <ion-select-option value="red">Medicina</ion-select-option>
            <ion-select-option value="blonde">Ing. Comercial</ion-select-option>
            <ion-select-option value="blonde">Derecho</ion-select-option>
          </ion-select>
        </ion-item>

        <br>
        <ion-button slot="start" (click)="guardar()" >Registrarse</ion-button> <!--EJECUTA LA FUNCION GUARDAR-->
        <ion-button slot="end" [routerLink]="['/login']" >Loguearse</ion-button> <!--REDIRECCIONA A LA PAGE LOGIN-->
        <br>
        <ion-button type="reset" >Resetear</ion-button> <!--RESETEA LOS CAMPOS DE FORMULARIO REGISTRO-->
      </form>
      
    </ion-card-content>

  </ion-card>

</ion-list>

          
    
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    Devel. by: Jose Cornejo/Moises Rubio
  </ion-toolbar> 
</ion-footer>